<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
    <%
      for (let i in itemList) {
      let itemId = i;
      let itemName = itemList[i].name;
      let itemPrice = itemList[i].price;
      console.log(itemName);
    %>
      <li>
        <a href="/item?itemId=<%= itemId %>">
          <%= itemName %>
        </a>
      </li>
    <% } %>
    </ul>

  </body>
</html>
